# Flakes
.direnv/

# Yarn Berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Intermediate files
syntaxes/source.tmLanguage.json

# Build artifacts
out/
*.vsix

# Logs
yarn-error.log

# Misc
.DS_Store

# No longer needed
node_modules/
